<article>
  <div class="article-title">
    <h2 class="post-title">{{this.title}}</h2>
    <p class="article-info">Posted by {{this.user.username}} on {{this.createdAt}}</p>
  </div>
  <div class="post-body">
    <div class="article-content">
      <h4 class="post-content">{{this.content}}</h4>
    </div>
  </div>
</article>
