main {
    display: block;
}
h2 {
    color: #F92672;
}
h4 {
    font-weight: normal;
}
label {
    margin-bottom: .5em;
}
.main-nav {
    background-color: #d6d6d6;
    color: black !important;
    font-weight: normal;
    padding-left: .25em;
    padding-right: 1em;
    font-size: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-nav a:visited {
    color: black;
    font-weight: normal;
    font-size: normal;
}
.main-nav a {
    color: black;
    font-weight: normal;
    font-size: normal;
}
.main-nav a {
    text-decoration: none;
}
.stick-nav a, .sticky-nav a:visited {
    color: black;
}
.sticky-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #d6d6d6;
    color: black !important;
    padding: 10px 0;
    z-index: 1000;
    width: 100%;
    margin-bottom: 2em;
    box-shadow: 0.7px 1.4px 1.4px hsl(0deg 0% 0% / 0.48);
}
nav {
    display: flex;
}
.nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-item {
    margin: 0 15px;
    transition: transform 1s ease-in-out;
}
.nav-item a {
    color: black;
    text-decoration: none;
    padding: 1em;
    transition: transform 1s ease-in-out;
}
.nav-item a:hover {
    text-decoration: none;
    transform: scale(1.1);
}
.nav-links {
    width: 25%;
}
a:visited {
    color: #74AA04;
}
.nav-button-container {
    margin-right: 2em;
}
.nav-button-container h3 {
    display: inline-block;
}
body {
    background-color: #272822;
    color: #A6E22E;
    margin: 0;
}
#blog-title {
    color: #F92672;
    text-decoration: none;
    margin-left: 8px;
    margin-bottom: 2em;
    padding-left: 2em;
    display: block;
    font-size: xx-large;
}
#blog-title-2 {
    color: #A6E22E !important;
    font-size: xx-large;
}
.hero-link {
    text-decoration: none;
}
#login-form {
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 10px #ffd866;
  }
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
}
.post-title {
    color: #F92672;
    margin-top: 1px;
    width: 50%;
    display: inline-block;
    margin-bottom: 0px;
}
.post-details {
    margin-left: 1em;
}
.dashboard-details {
    margin-left: 1em;
}
.new-post-form {
    width: 100%;
}
button {
    background-color: black;
    color: #A6E22E;
    padding: .5em;
    border-radius: 5px;
}
hr {
    border: 3px solid #B6B649;
    border-radius: 5px;
}
.post-comment {
    color: #ffd866;
    margin-bottom: 0px;
}
.comment-timestamp {
    font-style: italic;
    color: #CACACA;
    font-size: small;
    display: block;
}
article {
    border: 5px solid #ffd866;
    margin-bottom: 4em;
    border-radius: 5px;
    margin-left: 5em;
    margin-right: 5em;
}
.article-title {
    border-bottom: 2px solid #ffd866;
    background-color: black;
    padding: 1em;
}
.post-body {
    padding: 1em;
}
.article-info {
    font-style: italic;
    color: #CACACA;
    margin-top: .25em;
}
.view-post-link, .view-post-link:hover, .view-post-link:visited {
    text-decoration: none;
    color: #A6E22E;
}
.nav-buttons {
    float: right;
}
input[type="text"], input[type="password"], textarea {
    background-color : black;
    color: #ffd866;
}
.new-post {
    border: none;
}
.new-post input {
    width: 99.5%;
    padding: .5em;
}
.new-post textarea {
    width: 100%;
    height: 10em;
}
.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.logo {
    width: 15%;
    margin: 2em 0 2em 0;
}
.new-comment-section {
    text-align: center;
    width:75%;
}
